# development tools
flake8  # code style (pycodestyle), error linter (pyflakes), complexity (mccabe)
mypy  # type checker
black  # code formatter

# testing
pytest
coverage

# data_platforms ad database access
duckdb  # needed for demo and for e2e tests
fsspec  # needed for demo, 2e2 tests and also for input finders and report storage
gcsfs  # needed for input finders and report storage

# calculation engine
polars  # used for fixtures crunching - esp. for testcase COMPARE_SAMPLE
xlsx2csv  # required for polars to read excel
pyarrow  # required as backend for polars
