# development tools
flake8  # code style (pycodestyle), error linter (pyflakes), complexity (mccabe)
mypy  # type checker
black  # code formatter

# testing
pytest
coverage

# backends
duckdb

# calculation engine
polars  # lets try this instead of pandas
xlsx2csv  # required for polars to read excel
pyarrow
