# DEVELOPMENT AND TESTING
flake8  # code style (pycodestyle), error linter (pyflakes), complexity (mccabe)
mypy  # type checker
black  # code formatter
pytest
coverage


# CORE LOGIC
pydantic  # DTOs and data validation
pydantic-settings  # for reading from ENV vars
polars  # used for fixtures crunching - esp. for testcase COMPARE_SAMPLE
xlsxwriter  # required for polars to write excel
xlsx2csv  # required for polars to read excel
pyarrow  # required as backend for polars


# DATA PLATFORMS
# DemoDataPlatform
duckdb  # needed for demo and for e2e tests
fsspec  # needed for demo, 2e2 tests and also for input finders and report storage


# FILE STORAGES
gcsfs  # needed for input finders and report storage
pyyaml  # yaml package for parsing yamls